<ion-header>
  <ion-toolbar color="primary">
    <ion-title id="navtitle" style="text-align: right"> اتصل بنا </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>

        <ion-list-header>

          انتيكا
          </ion-list-header>
       <ion-item>
          <ion-icon name="call" item-start></ion-icon>
          07805269430
          <!-- <span item-end >اتصال</span> -->
       </ion-item>

       <!-- <ion-item>
          <ion-icon name="call" item-start></ion-icon>
        07500334013 &nbsp; &nbsp; &nbsp;
        <span item-end>اتصال</span>
       </ion-item> -->
      </ion-list> 

</ion-content>
