<ion-header style="direction: rtl">
  <ion-toolbar color="primary">
    <ion-title id="navtitle">
      دردشه
    </ion-title>
    <ion-buttons id="notification-button" slot="end" style="padding :8px">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content #content>
  <div class="chatwindow">
    <ion-list no-lines>
      <ion-item *ngFor="let item of allmessages; let i = index" text-wrap>
        <ion-avatar item-left *ngIf="item.sentby === buddy.uid">
          <img src="{{buddy.image}}">
        </ion-avatar>
        <div style="padding: 5px;" class="bubble me" *ngIf="item.sentby === buddy.uid">
          <h3 *ngIf="!imgornot[i]" style="color:rgb(0, 0, 0)">{{item.message}}</h3>
          <img src="{{item.message}}" *ngIf="imgornot[i]">
        </div>
        <ion-avatar item-right *ngIf="item.sentby != buddy.uid">
          <img src="{{photoURL}}">
        </ion-avatar>
        <div style="padding: 5px" class="bubble you" *ngIf="item.sentby != buddy.uid">
          <h3 *ngIf="!imgornot[i]" style="color:rgb(0, 0, 0)">{{item.message}}</h3>
          <img src="{{item.message}}" *ngIf="imgornot[i]">
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer ion-fixed>
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <ion-input [(ngModel)]="newmessage" placeholder="Aa" style="color:#000">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-button size="small" shape="round" (click)="addmessage()">
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>